.grid-items {
    display: grid;
    gap: 1rem;
}

.modal-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}


@media (min-width: 800px) {
    .grid-items { 
        grid-template-columns: repeat(3, 1fr); 
    }
}

.item {
    background-color: #1a1a1a;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    transition: 0.5s;
}
.item:hover {
    background-color: rgb(22, 22, 22);
    cursor: pointer;
    transform: scale(1.05);
}